<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nathanaelsee.rote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity android:name="com.nathanaelsee.rote.SplashActivity"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.nathanaelsee.rote.CardPackListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.nathanaelsee.rote.QuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.nathanaelsee.rote.CardPackListActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nathanaelsee.rote.CardPackListActivity" />

        </activity>

    </application>
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>